/* global.css */
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-custom{
    background-color: #232e38;
    color: white;
}

.border-bottom-custom {
    border-bottom: 1px solid white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
  }